You are given a debate text from the European Parliament and an topic. Decide if the text debates the topic. 


**Policy Area:** {{ area }}
**Topic Name:** {{ topic }}
**Topic Description:** {{ description }} 


**Debate Title:** {{ title }} 
**Debate Text:**
{{ text }} 


Be strict: the topic must be stubstantially debated. Exclude text that only losely mention {{ topic }} or use {{ topic }} merely as an example, sidenote, or reference. It is okay if the text also debates other topics, as long as {{ topic }} is also substantially debated. Make sure the text also belongs to the given policy area.

Answer only with yes or no.